<!-- nav displayed only if user is authenticated -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="user">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/prescriptions" routerLinkActive = "active">Your Med Plan</a>
        </li>
    
      <li class="nav-item active">
        <a class="nav-link" routerLink="/reviews" routerLinkActive = "active">Your Med Reviews</a>
        </li>
        <li class="nav-item active">
      <a class="nav-link" routerLink="/medications" routerLinkActive = "active">Med List</a>
      </li>
      <li class="nav-item active" *ngIf="user.uIsDoctor===1">
        <a class="nav-link" routerLink="/patients" routerLinkActive = "active">Your Patients</a>
        </li>
        <li class="nav-item active" *ngIf="user.uIsDoctor===1">
          <a class="nav-link" routerLink="/search-patient" routerLinkActive = "active">Search Patients</a>
          </li>
        <li class="nav-item active" *ngIf="user.uIsAdmin===1">
            <a class="nav-link" routerLink="/add-doctor" routerLinkActive = "active">Add a doctor</a>
       </li>
    <li class="nav-item active">
    <a class="nav-link" (click)="logout()" routerLinkActive = "active" >Logout</a>
    </li>
    </ul>
    </div></div>
    </nav>
<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
