@page "/subjects/update/{id:min(1)?}"
@model WebAppFacultyManagement.Pages.Subjects.UpdateModel
@{
    ViewData["Title"] = Model.SelectedSubject.SubjectID > 0 ? "Update Subject":"Add Subject";
    var pageHeader = Model.SelectedSubject.SubjectID > 0 ? "Edit information for " + Model.SelectedSubject.Name : "Add a new subject";
    var photopath = "~/images/" + (Model.SelectedSubject.Photopath ?? "noimagething.png");
}



<h2>@pageHeader</h2>

<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <input hidden asp-for="SelectedSubject.SubjectID" />
    <input hidden asp-for="SelectedSubject.Photopath" />

    <div asp-validation-summary="All" class="text-danger">
    </div>

    <div class="form-group">
        <label asp-for="SelectedSubject.Name" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="SelectedSubject.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="SelectedSubject.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SelectedSubject.Description" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="SelectedSubject.Description" class="form-control" placeholder="Email">
            <span asp-validation-for="SelectedSubject.Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Photo" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="Photo" class="custom-file-input form-control">
            <label class="custom-file-label">Click here to change photo</label>
        </div>
    </div>

    @*Display the existing photo*@
    <div class="form-group">
        <img src="@photopath" asp-append-version="true" style="margin-left: auto; margin-right: auto; display: block;width:300px;">
    </div>


    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-page="/Subjects/Index" class="btn btn-default"> Cancel</a>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }

</form>

