.line {
    position:fixed;
    width:100%;
    top: 50%;
    border: 8px solid yellow;

}

.bod {
    width:100%;
    height:100%;
}



.redGrad{
    background-image: linear-gradient(red, white);
    height:360px;
    width:100%;
}

.blueGrad{
    background-image: linear-gradient(white,blue);
    height:350px;
    width: 100%;
}

