
.bod {
    width:100%;
    height:100%;
}

div {
    width: 100px;
    height: 100px;
    background-color: blue;
    background-position: top,left;
    transform: translate(0px, 0px);
    transition: background-position 3s,background-color 3s,transform 3s;

}

div:hover {
    background-color: red;
    background-position: bottom,right;
    transform: translate(1420px, 592px);
}

