<div class="fullscreen-bg">
  <video loop muted autoplay poster="../../assets/main-video-poster.png" class="fullscreen-bg__video">
    <source src="../../assets/main_page_video.mp4" type="video/mp4" oncanplay="video.play()" onloadedmetadata="video.muted = true">
  </video>
</div>
<app-navigation></app-navigation>
<div class="container">
  <br>
  <br>
  <h1 class="text-cyan display-2 text-border-weak">
    FRISOAM
  </h1>
  <h2 class="text-cyan text-border-weak">
    A conference management system
  </h2>
  <br>
  <br>
  <h4 id="introduction" class="text-cyan text-border-weak">
    &nbsp;&nbsp; Are you in search of a certain conference? Check all the available ones on the platform! Complete your participation and you'll be just a
    click away from a unique experience! <br><br>
    &nbsp;&nbsp; Do you want to create your own conference? No problem! Our software is specially designed for this - we're really waiting to see your unique conference topics! <br><br>
    Log into your account or register, if you aren't already a member, and let's start managing those conferences!
  </h4>
  <br><br>
  <p id="quote" class="text-cyan text-border-weak" align="right">'A good system shortens the road to the goal' <br>- Ralph Waldo Emerson</p>
</div>
