@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}


<h1 style="color:darkcyan"><b>Location</b></h1>
<h3 style="color:darkred">Lower School (ages 3-11)</h3>
<address>
    Woodside Campus & The Lodge<br />
    49 Woodside Avenue,<br />
    London, N12 8SY<br />
    <abbr title="Phone">Administration Office (ages 3-6):</abbr>
    020 8920 0651<br />
    <abbr title="Phone">Administration Office (ages 6-11):</abbr>
    020 8920 0642<br />
    <abbr title="Fax">Fax:</abbr>
    +44(0)20 8445 0835
</address>

<h1 style="color:darkcyan"><b>Contact Us</b></h1>
<h5>For <b>admissions</b> enquiries, please contact +44 (0)20 8920 0637 or email <a href="mailto:admissions@gilbertschool.org">admissions@gilbertschool.org</a></h5>
<h5>For <b>finance</b> enquiries, please email <a href="mailto:finance@gilbertschool.org">finance@gilbertschool.org</a></h5>
<h5>For all <b>other</b> enquiries, please call 020 8920 0600 or email <a href="mailto:office@gilbertschool.org">office@gilbertschool.org</a></h5>


<h3 style="color:cornflowerblue">Specific Contacts:</h3>
<h4 style="color:darkred">Lower School (ages 3-11)</h4>
<address>
    Matt Parkin<br />
    Lower School Principal<br />
    Woodside Campus & The Lodge<br />
    49 Woodside Avenue,<br />
    London, N12 8SY<br />
    <abbr title="Phone">Administration Office:</abbr>
    020 8920 0651<br />
    <abbr title="Fax">Fax:</abbr>
    +44(0)20 8445 0835
</address>



