@page
@model WebAppFacultyManagement.Pages.IndexModel
@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gilbert School</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
  

    



    <div class="container body-content">

        

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">



                    <h2>Log in here:</h2>
                    <form class="form-horizontal" method="post" asp-page-handler="OnPost">
                        <input hidden asp-for="UserForLogIn.UserID" />
                        <input hidden asp-for="UserForLogIn.HasAdminRights" />

                        @if (string.IsNullOrEmpty(Model.MessageForRegister)){
                        <div asp-validation-summary="All" class="text-danger">
                        </div>
                }
                        <div class="form-group">
                            <label asp-for="UserForLogIn.Username" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="UserForLogIn.Username" class="form-control" placeholder="Username">
                                <span asp-validation-for="UserForLogIn.Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserForLogIn.Password" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="password" asp-for="UserForLogIn.Password" class="form-control" placeholder="Password">
                                <span asp-validation-for="UserForLogIn.Password" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>

                        @section Scripts {
                            <partial name="_ValidationScriptsPartial" />
                        }

                        @if (!string.IsNullOrEmpty(Model.Message))
    {
                        <div class="alert alert-warning">
                            @Model.Message
                        </div>
    }

                    </form>




                </div>
                <div class="col-md-8">

                    <h2>Register here:</h2>
                    <form class="form-horizontal" method="post" asp-page-handler="Register">

                        <div class="form-group">
                            <label asp-for="Username" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Username" class="form-control" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="HasAdminRights" class="col-sm-2 control-label">Do you have Admin rights?</label>
                            <div class="col-sm-10">
                                <input type="checkbox" asp-for="HasAdminRights" class="form-control" placeholder="Admin Rights">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>

                        @if (!string.IsNullOrEmpty(Model.MessageForRegister))
    {
                        <div class="alert alert-warning">
                            @Model.MessageForRegister
                        </div>
    }

                    </form>
                </div>
            </div>

        </div>


        <hr />
        <footer>
            <p>&copy; Copyright © Gilbert School - 2020</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>



















