<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connectionString"
            connectionString="Data Source=ARMIN\SQLEXPRESS;Initial Catalog=&quot;Movie Rental Database&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    
    <add key="parentTable" value="KidsProgramme"/>
    <add key="parentTableID" value="KidsProgrammeId"/>
    <add key="childTable" value="Schools"/>
    <add key="childTableID" value="SchoolId"/>

    <add key="childColumnNames" value="Name,NrOfKids"/>
    
    <add key="selectParentRows" value="select * from KidsProgramme"/>
    <add key="selectChildRowsForSelectedParent" value="select * from Schools where KidsProgrammeId="/>
    
    <add key="insertChildRow" value="insert into Schools(Name,NrOfKids,KidsProgrammeId) values (@Name,@NrOfKids,@KidsProgrammeId)"/>
    <add key="updateChildRow" value="update Schools set Name=@Name, NrOfKids=@NrOfKids where SchoolId="/>
    <add key="deleteChildRow" value="delete from Schools where SchoolId="/>
    
    
    
    

  <!--
  <add key="parentTable" value="AdultActivities"/>
    <add key="parentTableID" value="ActivityId"/>
    <add key="childTable" value="AdultClubs"/>
    <add key="childTableID" value="ClubId"/>

    <add key="childColumnNames" value="ClubName,ClubType,AgeRange,ParticipantsNumber"/>

    <add key="selectParentRows" value="select * from AdultActivities"/>
    <add key="selectChildRowsForSelectedParent" value="select * from AdultClubs where ActivityId="/>

    <add key="insertChildRow" value="insert into AdultClubs(ClubName,ClubType,AgeRange,ParticipantsNumber,ActivityId) values (@ClubName,@ClubType,@AgeRange,@ParticipantsNumber,@ActivityId)"/>
    <add key="updateChildRow" value="update AdultClubs set ClubName=@ClubName, ClubType=@ClubType, AgeRange=@AgeRange where ClubId="/>
    <add key="deleteChildRow" value="delete from AdultClubs where ClubId="/>
  -->
    
    
    
    
    
    
    
  </appSettings>
</configuration>